/* stylelint-disable import-notation */
@import 'variables/variables.css';
@import 'theme.css';
@import 'reset.css';
@import '../styles/theme.css';

body {
  font: var(--font-m);
  color: var(--color-text);
}

.app {
  background-color: var(--color-bg-app);
  min-height: 100vh;
  height: 100vh;
}

.content-page {
  display: grid;
  grid-template-columns: auto 1fr;
}

.page-wrapper {

}
