.colors {
  --color-primary: #158cc8;
  --color-success: #52c41a;
  --color-warning: #faad14;
  --color-error: #ff4d4f;

  --color-primary-dark: #113099;
  --color-light: #f0ecf1;
  --color-dark: #000;

  --shadow-menu-item: rgba(185 212 231 / 0.7);

  /* --overlay-color: rgba(0 0 0 / 0.6); */
}

.app_light_theme {
  --color-text: #000;
  --color-bg: #e8e8ea;
  --color-bg-app: #fff;

  --color-shadow: rgba(34 60 80 / 0.6);
  --input-shadow: rgba(34 60 80 / 0.2);
}

.app_dark_theme {
  --color-text: #e8e8ea;
  --color-bg: #302f2f;
  --color-bg-app: #000;

  --input-shadow: rgba(111 181 235 / 0.2);
}
