.colors {
  --color-primary: rgba(0 115 247 / 0.88);
  --color-success: #52c41a;
  --color-warning: #faad14;
  --color-error: #ff4d4f;

  --color-primary-dark: #44589c;
  --color-light: #f0ecf1;
  --color-dark: #000;

  --shadow-menu-item: rgba(185 212 231 / 0.7);
  --color-link-active: rgba(0 0 0 / 0.1);

  /* --overlay-color: rgba(0 0 0 / 0.6); */
}

.app_light_theme {
  --color-text: rgba(0 0 0 / 0.88);
  --color-bg: #e1e3e6;
  --color-bg-app: #fff;

  --color-shadow: rgba(34 60 80 / 0.6);
  --input-shadow: rgba(34 60 80 / 0.2);
}

.app_dark_theme {
  --color-text: var(--color-primary);
  --color-bg: #302f2f;
  --color-bg-app: #000;
  --color-shadow: rgba(248 248 252 / 0.9);

  --input-shadow: rgba(111 181 235 / 0.2);
}
