.Button {
  cursor: pointer;
  padding: 6px 15px;
  transition: var(--app-transition);
}

.Button:hover {
  opacity: 0.7;
  fill-opacity: 0.7;
}

.primary,
.primaryLight,
.primaryRed {
  border: none;
  border-radius: var(--app-border-radius);
  background-color: var(--color-primary);
  color: var(--color-light);
}

.primaryLight {
  background-color: var(--color-light);
  color: var(--color-primary);
}

.primaryRed {
  background-color: var(--color-error);
  color: var(--color-light);
}

.outline,
.outlineLight {
  background: none;
  border-radius: var(--app-border-radius);
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.outlineLight {
  border: 1px solid var(--color-light);
  color: var(--color-light);
}

.clear,
.clearLight {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none;
  color: var(--color-primary);
}

.clearLight {
  color: var(--color-light);
  fill: var(--color-light);
}

.icon {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none;
  fill: var(--color-dark);
}

.size_m {
  font: var(--font-m);
}

.size_l {
  font: var(--font-l);
}

.size_xl {
  font: var(--font-xl);
}

.disabled {
  opacity: 0.4;
}
