.Sidebar {
	height: calc(100vh - var(--navbar-height) - var(--app-margin) - var(--app-margin));
	width: var(--sidebar-width);
	background: var(--color-primary);

	/* position: relative; */

	/* тень справа  и сверху */
	margin: var(--app-margin) var(--app-margin) 0 0;
	border-radius: var(--app-border-radius);
	box-shadow: 5px -5px 5px -5px var(--color-shadow);
	padding: var(--app-padding);
	transition: all 0.4s ease-in;
	display: grid;
	grid-template-rows: 1fr auto;
}

.collapsed {
	width: var(--sidebar-width-collapsed);
	padding: 20px 15px;
}

.switchers {
	display: grid;
	grid-template-columns: 40px 40px;
	gap: 30px;
	justify-content: center;
}

.switchersCol {
	grid-template-columns: 1fr;
}

.wrapper {
	display: grid;
	justify-items: end;
}