.ArticleList {
  margin-top: 5px;
}

.SMALL {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  justify-items: center;
}

.BIG {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  justify-items: stretch;
}

.text {
  margin-top: 20px;
  height: 100vh;
}
