.ArticleList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 20px;
  justify-items: center;
}

.BIG {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: stretch;
}

.loaderWrapper {
  display: grid;
  align-items: center;
  justify-content: center;
}
