.ProfilePageHeader {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
}

.button {
  margin-left: auto;
}

.buttonsWrapper {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  gap: 10px;
}
