.CommentCard {
  padding: 10px;
  background-color: var(--color-bg-app);
  box-shadow: 0 5px 10px 2px var(--input-shadow);
  border-radius: var(--app-border-radius);
}

.text {
  margin-top: 10px;
}


.loading {
  border: none
}